.riWrapper {
  width: 100%;
  padding: 8px;
  --slider-color: var(--color-purple-900);
  --slider-color-hover: var(--color-purple-600);
  --slider-color-shadow: color-mix(
    in srgb,
    var(--color-purple-600) 30%,
    transparent
  );
}

.riTrack {
  position: relative;
  height: 4px;
  background: #ddd;
  border-radius: 999px;
  cursor: pointer;

  &:hover {
    .riRange {
      background: var(--slider-color-hover);
    }

    .riThumb {
      background: var(--slider-color-hover);
    }
  }
}

.riRange {
  position: absolute;
  height: 100%;
  background: var(--slider-color);
  border-radius: 999px;
}

.riThumb {
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 12px;
  height: 12px;
  background: var(--slider-color);
  border: 3px solid white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  touch-action: none;
  cursor: pointer;
  transition: transform 0.15s ease-out, box-shadow 0.15s ease-out;
}

.riThumbActive {
  box-shadow: 0 0 0 4px var(--slider-color-shadow);
  transform: translate(-50%, -50%) scale(1.2);
}

/* MARK WRAPPER */
.riMark {
  position: absolute;
  top: 50%; /* center line of the track */
  transform: translateX(-50%); /* only horizontal centering */
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
}

/* DOT ABOVE LABEL */
.riMarkDot {
  width: 4px;
  height: 4px;
  background: #c5c5c5;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #fff, 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: background 0.2s, transform 0.2s;
  transform: translateY(-50%);
}

/* LABEL TEXT */
.riMarkLabel {
  font-size: 12px;
  color: #666;
  white-space: nowrap; /* prevents wrapping */
  text-align: center;
  user-select: none;
  padding-top: 5px;
}
